@page "/"
@using J18n.Demo.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomePage> localizer;

<PageTitle>@(localizer["Title"])</PageTitle>

<h1>@(localizer["Content.First"])</h1>

@(localizer["Content.Second"])